.divider {
  background-color: rgba(#fff, 0.25);
  height: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  width: 1px;
}

.editor__header{
  background-color: rgb(59, 130, 246);
  border-bottom: 3px solid rgb(59, 130, 246);
}